<%= simple_form_for card do |f| %>
  <div class="form-group">
    <%= f.input :original_text,  as: :text, label: t('dashboard.cards.original'),
                input_html: { class: 'form-control', required: true,
                              autofocus: true } %>
  </div>

  <div class="form-group">
    <%= f.input :translated_text,  as: :text, label: t('dashboard.cards.translate'),
                input_html: { class: 'form-control', required: true } %>
  </div>

  <div class="form-group">
    <%= f.input :image, as: :file, label: t('dashboard.cards.image') %>
    <%= f.input :image_cache, as: :hidden %>
  </div>

  <div id="flickr">
    <a href="#" v-on:click.prevent="show = !show"><%= t('dashboard.cards.downflickr') %></a>

    <div id="find" v-show="show">
        <%= text_field :tags,  as: :text, label: t('dashboard.cards.tags'),
                  input_html: { class: 'form-control'} %>
      <%= f.button :submit, t('dashboard.cards.findflickr'), class: 'btn btn-default' %>
      <div id="photos" />
    </div>
  </div>

  <div class="form-group">
    <%= f.input :block_id, collection: current_user.blocks.all.order('title'),
                      prompt: t('dashboard.cards.prompt'), label: t('dashboard.cards.label'),
                      input_html: { class: 'form-control', required: true } %>
  </div>

  <% if card.image? %>
    <div class="form-group">
      <%= f.input :remove_image, as: :boolean, label: t('dashboard.cards.remove_image') %>
      <div class="row">
        <div class="col-xs-6 col-md-4 card_image">
          <p class="thumbnail">
            <%= image_tag card.image_url %>
          </p>
        </div>
      </div>
    </div>
  <% end %>

  <%= f.button :submit, t('dashboard.cards.submit'), class: 'btn btn-default' %>
<% end %>
