<tr class="table table-hover table-condensed">
  <td><%= link_to user.email, user %></td>
  <%= form_for(user) do |f| %>
    <td><%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %></td>
    <td><%= f.submit 'Change Role' %></td>
  <% end %>
  <td>
    <%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?"}, :method => :delete, :class => 'button') unless user == current_user %>
  </td>
</tr>

