<div class="row" id="header">
  <div class="col-sm-12">
    <nav class="navbar navbar-default" id="header">
      <div class="container-fluid">
        <div class="navbar-header">
          <% if current_user %>
            <%= link_to t('app.menu.flashcards_label'), trainer_path, class: "navbar-brand" %>
          <% else %>
            <%= link_to t('app.menu.flashcards_label'), root_path, class: "navbar-brand" %>
          <% end %>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <% if current_user %>
            <ul class="nav navbar-nav navbar-left">
              <li><%= link_to t('app.menu.all_decks_label'), blocks_path %></li>
              <li><%= link_to t('app.menu.add_deck_label'), new_block_path %></li>
              <li><%= link_to t('app.menu.all_cards_label'), cards_path %></li>
              <li><%= link_to t('app.menu.add_card_label'), new_card_path %></li>
            </ul>
          <% end %>
          <p class="navbar-text navbar-right">
            <% if current_user %>
              <% I18n.available_locales.each do |locale| %>
                <%=link_to locale, root_path(user_locale: locale), class: 'navbar-link'%>
              <% end %>
            <% end %>
          </p>
        </div>
      </div>
    </nav>
  </div>
</div>
