<%= simple_form_for user do |f| %>
  <div class="form-group">
    <%= f.input :email, as: :email, label: t('home.user.email'),
                input_html: { class: 'form-control', required: true,
                              autofocus: true } %>
  </div>
  <div class="form-group">
    <%= f.input :password, as: :password, label: t('home.user.passwd'),
                input_html: { class: 'form-control', required: true } %>
  </div>
  <div class="form-group">
    <%= f.input :password_confirmation, as: :password,
                label: t('dashboard.profile.passwd_confirm'),
                input_html: { class: 'form-control', required: true } %>
  </div>
  <%= f.button :submit, t('home.user.sign_up'), class: 'btn btn-default' %>
<% end %>
